// 共通
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(72, 72, 72);
}

.flex {
    display: flex;
}

.logo {
    height: 100px;
}