#profile {
    margin: 50px 0 100px;

    .main-title--box {
        margin: 0 50px;
    }

    .about-text {
        font-size: 16px;
        line-height: 35px;
        margin: 0 10px 10px;
        letter-spacing: 5px;
    }

    .main-profile {
        display: flex;
        justify-content: center;

        .main-profile--box {
            padding: 50px 10px;
            text-align: center;
            width: 30%;
            min-width: 30%;
            background-color: bisque;
        }

        .main-profile--img {
            border-radius: 50%;
            margin-bottom: 20px;
        }

        .main-profile--name {
            font-size: 30px;
            color: burlywood;
            margin-bottom: 10px;
        }

        .main-profile--list {
            margin-bottom: 5px;
            color: rgb(113, 53, 0);
        }

        .cv {
            color: rgb(83, 38, 0);
            padding: 50px 10px;
            width: 70%;
            background-color: rgb(252, 235, 211);

            .cv-title {
                display: inline-block;
                font-size: 20px;
                padding: 0 20px;
                margin-bottom: 30px;
                color: burlywood;
                border-bottom: 5px dotted burlywood;
            }

            .cv-table {
                margin: 0 45px;
                font-size: 16px;
                border-collapse: collapse;

                tr {
                    display: flex;
                    margin-bottom: 2px;

                    &:first-of-type {
                        .cv-text {
                            border-top: 2px dotted burlywood;
                        }
                    }
                }

                .cv-year {
                    display: flex;
  justify-content: center;
  align-items: center;
                    background-color: burlywood;
                    padding: 13px 0;
                    width: 25%;
                }

                .cv-text {
                    display: inline-block;
                    border-bottom: 2px dotted burlywood;
                    width: 75%;
                    padding: 3px 10px 3px;
                    display: block;
                    text-align: left;
                }
            }
        }
    }

    @media screen and (max-width: 750px) {
        .main-title--box {
            margin: 0 25px;
        }

        .main-profile {
            flex-direction: column;

            .main-profile--box {
                padding: 50px 50px 0;
                width: 100%;
                min-width: 100%;
            }

            .main-profile--name {
                font-size: 30px;
                color: burlywood;
                margin-bottom: 10px;
            }

            .main-profile--list {
                margin-bottom: 5px;
                color: rgb(113, 53, 0);
            }

            .cv {
                color: rgb(59, 27, 0);
                padding: 50px 10px;
                width: 100%;
                background-color: bisque;
                .cv-table {
                    font-size: 16px;
                    border-collapse: collapse;

                    tr {
                        display: flex;
                        align-items: center;
                    }

                    .cv-year {
                        padding: 15px 0;
                        background-color: burlywood;
                        width: 25%;
                        margin-bottom: 1px;
                    }

                    .cv-text {
                        margin-bottom: 1px;
                        width: 75%;
                        display: block;
                        text-align: left;
                        padding: 5px 15px;
                    }
                }
            }
        }
    }
}

#skill {
    letter-spacing: 1px;
    .skill-box {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        gap: 20px;
        img {
            width: 200px;
            margin: 20px 0;
        }

        .skill-card {
            background-color: #fff;
            margin: 0 auto;
            text-align: center;
            border: 1px solid #2e3033;
            width: 270px;
            height: 380 px;
            padding: 5px;

            .skill-body {
                .skill-title {
                    display: inline-block;
                    border-bottom: 1px solid #2e3033;
                    margin-bottom: 25px;
                }
                .skill-parts {
                    padding-left: 20px;
                    .skill-list {
                        list-style: circle;
                        text-align: left;
                        font-size: 16px;
                        margin-bottom: 6px;
                    }
                }

                .css-design-box {
                    display: flex;
                    justify-content: space-around;
                }
            }

            .card-img-top.tailwind {
                width: 150px;
                margin-bottom: 50px;
            }

            .card-img-top.bootstrap {
                width: 100px;
                margin-bottom: 50px;
            }
        }
    }
}
