@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #484848;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.logo {
  height: 100px;
}

section {
  margin: 50px 50px 100px;
}

.title {
  margin-bottom: 55px;
}

.main-title--box {
  letter-spacing: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.main-title--box .main-title {
  font-size: 45px;
}

.main-title--box .main-title--sub {
  font-size: 18px;
  margin-left: 10px;
}

.sub-title {
  font-size: 23px;
  color: burlywood;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.text {
  margin-left: 10px;
  letter-spacing: 6px;
  line-height: 24px;
  font-size: 17px;
}

.return-top {
  visibility: hidden;
  cursor: pointer;
  line-height: 15px;
  background: burlywood;
  opacity: .7;
  color: #fff;
  padding: 15px 10px;
  border-radius: 50%;
  font-size: 0.75rem;
  text-align: center;
  position: fixed;
  bottom: 4%;
  right: 2%;
  z-index: 999;
}

.return-top:hover {
  opacity: 1;
}

@media screen and (max-width: 750px) {
  body {
    font-size: 15px;
  }
  section {
    margin: 50px 25px 100px;
  }
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .title {
    margin-bottom: 30px;
  }
  .main-title--box .main-title {
    font-size: 35px;
  }
  .main-title--box .main-title--sub {
    font-size: 15px;
  }
  .sub-title {
    font-size: 18px;
  }
  .text {
    margin-left: 10px;
    letter-spacing: 4px;
    line-height: 20px;
    font-size: 15px;
  }
}

/* ヘッダー */
#header .sp-menu {
  display: none;
}

#header .pc-menu {
  padding: 10px;
  position: fixed;
  right: 0;
  z-index: 999;
}

#header .pc-menu .pc-menu--parts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#header .pc-menu .pc-menu--parts .pc-menu--list {
  margin: 0 20px;
}

#header .pc-menu .pc-menu--parts .pc-menu--list .pc-menu--item {
  color: #484848;
  z-index: 10;
}

#header .pc-menu .pc-menu--parts .pc-menu--list .pc-menu--item:hover {
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation: pendulum ease-in-out 1s infinite alternate;
          animation: pendulum ease-in-out 1s infinite alternate;
}

@-webkit-keyframes pendulum {
  0% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
}

@keyframes pendulum {
  0% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
}

#header .fas,
#header .far {
  margin-right: 5px;
}

/*header*/
@media screen and (max-width: 800px) {
  #header {
    /*.sp-menu*/
  }
  #header .pc-menu {
    display: none;
  }
  #header .sp-menu {
    display: initial;
  }
  #header .sp-menu .hamburger {
    outline: none !important;
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
    padding-top: 15px;
    z-index: 999;
  }
  #header .sp-menu .hamburger span {
    display: block;
    margin-right: 10px;
    background-color: #484848;
    width: 35px;
    height: 2px;
    margin-bottom: 9px;
    -webkit-transition: -webkit-transform 0.7s;
    transition: -webkit-transform 0.7s;
    transition: transform 0.7s;
    transition: transform 0.7s, -webkit-transform 0.7s;
  }
  #header .sp-menu .hamburger span:last-child {
    margin-bottom: 0;
  }
  #header .sp-menu .mobile-menu .mobile-menu--parts {
    position: fixed;
    top: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    width: 100%;
    text-align: center;
    background: #ffffff;
    -webkit-transition: 1.2s;
    transition: 1.2s;
    z-index: 998;
  }
  #header .sp-menu .mobile-menu .mobile-menu--parts .mobile-menu--list {
    padding: 10px 0;
    cursor: pointer;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    -webkit-transition: all 1s;
    transition: all 1s;
    opacity: 0;
    visibility: hidden;
  }
  #header .sp-menu.menu-open .hamburger span:nth-child(1) {
    -webkit-transition-delay: 70ms;
            transition-delay: 70ms;
    -webkit-transform: translateY(11px) rotate(135deg);
            transform: translateY(11px) rotate(135deg);
  }
  #header .sp-menu.menu-open .hamburger span:nth-child(2) {
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
    -webkit-transform: translateX(-18px) scaleX(0);
            transform: translateX(-18px) scaleX(0);
  }
  #header .sp-menu.menu-open .hamburger span:nth-child(3) {
    -webkit-transition-delay: 140ms;
            transition-delay: 140ms;
    -webkit-transform: translateY(-11px) rotate(-135deg);
            transform: translateY(-11px) rotate(-135deg);
  }
  #header .sp-menu.menu-open .mobile-menu .mobile-menu--parts {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  #header .sp-menu.menu-open .mobile-menu .mobile-menu--parts .mobile-menu--list {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
    visibility: visible;
  }
  #header .sp-menu.menu-open .mobile-menu .mobile-menu--parts .mobile-menu--list:nth-child(1) {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  #header .sp-menu.menu-open .mobile-menu .mobile-menu--parts .mobile-menu--list:nth-child(2) {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  #header .sp-menu.menu-open .mobile-menu .mobile-menu--parts .mobile-menu--list:nth-child(3) {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  /*#header*/
}

#main {
  background: url("http://localhost:10029/wp-content/themes/fujichi/img/kome_back_clear.png") top/cover no-repeat fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  letter-spacing: 2px;
  /* #aboutme */
  /* #production */
}

#main #top .main-box {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
}

#main #top .main-box .main-text {
  padding: 0 20px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  line-height: 40px;
  font-size: 18px;
}

#main #top .main-box .main-text .main-text--items {
  margin-bottom: 20px;
}

#main #top .scrolldown {
  position: absolute;
  left: 50%;
  bottom: 10px;
  height: 50px;
}

#main #top .scrolldown span {
  position: absolute;
  left: -15px;
  top: -15px;
  color: #484848;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
}

#main #top .scrolldown::after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 30px;
  background-color: #484848;
  opacity: 0;
  -webkit-animation: path-move 1.4s ease-in-out infinite;
          animation: path-move 1.4s ease-in-out infinite;
}

@-webkit-keyframes path-move {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 30px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 50px;
    opacity: 0;
  }
}

@keyframes path-move {
  0% {
    height: 0;
    top: 0;
    opacity: 0;
  }
  30% {
    height: 30px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 50px;
    opacity: 0;
  }
}

@media screen and (max-width: 620px) {
  #main #top .main-box .main-text {
    padding: 0 22px;
    position: absolute;
    top: 50%;
    line-height: 30px;
  }
  #main #top .main-box .main-text .main-text--items {
    margin-bottom: 20px;
  }
}

#main .container {
  z-index: 1;
  background: #eee;
  padding: 90px 0 140px;
}

#main #aboutme .wrapper {
  margin: 0 auto;
  max-width: 810px;
}

#main #aboutme .about-text--box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main #aboutme .about-text--box .about-img {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  margin: 0 10px;
}

#main #aboutme .about-text--box .about-text {
  font-size: 16px;
  line-height: 35px;
  margin: 0 10px 10px;
  letter-spacing: 5px;
}

#main #aboutme .about-text--box .about-allow {
  position: relative;
  color: #333;
  padding: 10px 0;
  display: inline-block;
  text-decoration: none;
  outline: none;
}

#main #aboutme .about-text--box .about-allow::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #333;
  -webkit-animation: arrowAnime1 5s ease infinite;
          animation: arrowAnime1 5s ease infinite;
}

#main #aboutme .about-text--box .about-allow::after {
  content: "";
  position: absolute;
  bottom: -4px;
  width: 8px;
  height: 8px;
  border-top: 1px solid #333;
  border-right: 1px solid #333;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: arrowAnime2 5s ease infinite;
          animation: arrowAnime2 5s ease infinite;
}

#main #aboutme .about-text--box .about-allow:hover {
  opacity: 0.7;
}

@-webkit-keyframes arrowAnime1 {
  0% {
    width: 0;
    opacity: 0;
  }
  20% {
    width: 0;
    opacity: 1;
  }
  80% {
    width: 105%;
    opacity: 1;
  }
  100% {
    width: 105%;
    opacity: 0;
  }
}

@keyframes arrowAnime1 {
  0% {
    width: 0;
    opacity: 0;
  }
  20% {
    width: 0;
    opacity: 1;
  }
  80% {
    width: 105%;
    opacity: 1;
  }
  100% {
    width: 105%;
    opacity: 0;
  }
}

@-webkit-keyframes arrowAnime2 {
  0% {
    left: 0;
    opacity: 0;
  }
  20% {
    left: 0;
    opacity: 1;
  }
  80% {
    left: 103%;
    opacity: 1;
  }
  100% {
    left: 103%;
    opacity: 0;
  }
}

@keyframes arrowAnime2 {
  0% {
    left: 0;
    opacity: 0;
  }
  20% {
    left: 0;
    opacity: 1;
  }
  80% {
    left: 103%;
    opacity: 1;
  }
  100% {
    left: 103%;
    opacity: 0;
  }
}

@media screen and (max-width: 750px) {
  #main #aboutme .about-text--box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #main #aboutme .about-text--box .about-img {
    margin-bottom: 30px;
  }
  #main #aboutme .about-text--box .about-text {
    line-height: 30px;
    letter-spacing: 3px;
  }
}

@media screen and (max-width: 600px) {
  #main #aboutme .about-text--box .about-text {
    line-height: 25px;
    font-size: 15px;
  }
}

#main #products .wrapper {
  margin: 0;
  padding: 30px 0;
}

#main #products .grid {
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  place-items: center;
  row-gap: 30px;
}

#main #products .products-box {
  font-family: 'M PLUS 1', sans-serif;
  border-radius: 10px;
  background-color: antiquewhite;
  padding: 20px;
  max-width: 400px;
  height: 400px;
  position: relative;
}

#main #products .products-box:hover .products-sub--box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 350px;
  height: 350px;
}

#main #products .products-box .omusubi {
  opacity: .7;
  position: absolute;
  top: -23px;
  left: -5px;
  z-index: 10;
  width: 60px;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  -webkit-animation: omusubiKorokoro .5s forwards;
          animation: omusubiKorokoro .5s forwards;
}

@-webkit-keyframes omusubiKorokoro {
  0% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  1% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  99% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
}

@keyframes omusubiKorokoro {
  0% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  1% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  99% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
}

#main #products .products-box .products-img--parts {
  text-align: center;
  margin-bottom: 25px;
}

#main #products .products-box .products-img--parts .products-img {
  border-radius: 10px;
}

#main #products .products-box .products-box--title {
  color: burlywood;
  text-align: center;
  font-size: 20px;
  margin: 5px 0;
}

#main #products .products-box .products-box--text {
  text-align: center;
  padding: 5px;
  border: 2px double burlywood;
  margin-bottom: 10px;
}

#main #products .products-box .products-box--parts .products-box--list {
  list-style: circle;
  margin-left: 25px;
}

#main #products .products-sub--box {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(222, 184, 135, 0.231);
  height: 330px;
  width: 270px;
}

#main #products .products-sub--box .products-sub--btn {
  text-align: center;
  color: #fff;
  background-color: #dbbd95;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px 0;
}

#main .multi-title {
  text-align: center;
  margin-bottom: 50px;
}

#main .multi-title .multi-title--group {
  display: inline-block;
  overflow: hidden;
  position: relative;
}

#main .multi-title .multi-title--group::before, #main .multi-title .multi-title--group::after {
  content: "";
  position: absolute;
  background: #919090;
  width: 0;
  height: 3px;
}

#main .multi-title .multi-title--group::before {
  right: 0;
  bottom: 0;
}

#main .multi-title .multi-title--group::after {
  left: 0;
  top: 0;
}

#main .multi-title .multi-title--group .multi-title--parts {
  font-size: 22px;
  padding: 10px 20px;
}

#main .multi-title .multi-title--group .multi-title--parts::before, #main .multi-title .multi-title--group .multi-title--parts::after {
  content: "";
  position: absolute;
  background: #919090;
  width: 3px;
  height: 0;
}

#main .multi-title .multi-title--group .multi-title--parts::before {
  left: 0;
  bottom: 0;
}

#main .multi-title .multi-title--group .multi-title--parts::after {
  right: 0;
  top: 0;
}

#main .multi-title .multi-title--group .multi-title--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
  -webkit-transition: opacity 0.1s, -webkit-transform 0.5s;
  transition: opacity 0.1s, -webkit-transform 0.5s;
  transition: opacity 0.1s, transform 0.5s;
  transition: opacity 0.1s, transform 0.5s, -webkit-transform 0.5s;
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

#main .multi-title .multi-title--group .multi-title--items span {
  margin-left: 10px;
  font-size: 14px;
}

#main .multi-title.appear .multi-title--group::before, #main .multi-title.appear .multi-title--group::after {
  -webkit-animation: borderSpreadW 0.5s forwards ease-in-out;
          animation: borderSpreadW 0.5s forwards ease-in-out;
}

#main .multi-title.appear .multi-title--group .multi-title--parts::before, #main .multi-title.appear .multi-title--group .multi-title--parts::after {
  -webkit-animation: borderSpreadH 0.3s forwards ease-in-out;
          animation: borderSpreadH 0.3s forwards ease-in-out;
}

#main .multi-title.appear .multi-title--group .multi-title--parts::before {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  /*左の線*/
}

#main .multi-title.appear .multi-title--group .multi-title--parts::after {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  /*右の線*/
}

#main .multi-title.appear .multi-title--group .multi-title--parts .multi-title--items {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@-webkit-keyframes borderSpreadW {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes borderSpreadW {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes borderSpreadH {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@keyframes borderSpreadH {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

#main #production {
  z-index: 10;
  /* .process-group */
}

#main #production .process-group {
  margin: 0 auto;
  max-width: 850px;
}

#main #production .process-group .process-text {
  letter-spacing: 4px;
  padding-bottom: 100px;
  text-align: center;
}

#main #production .process-group .process-box {
  background-color: #fffefd;
  line-height: 25px;
  display: inline-block;
  padding: 20px 30px;
  opacity: 0;
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
  border: solid 2px #b1b1b1;
  border-radius: 20px;
  margin-bottom: 70px;
  position: relative;
}

#main #production .process-group .process-box .process-box--list {
  margin-bottom: 5px;
}

#main #production .process-group .process-box .process-box--title {
  text-shadow: 1px 1px 0px #333, -1px -1px 0px #333, -1px 1px 0px #333, 1px -1px 0px #333, 1px 0px 0px #333, -1px 0px 0px #333, 0px 1px 0px #333, 0px -1px 0px #333;
  margin: 0;
  font-size: 15px;
  overflow: hidden;
  display: inline-block;
  position: absolute;
  top: -50px;
  left: 15px;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
}

#main #production .process-group .process-box .process-box--title::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 0%;
  left: 0;
  height: 1px;
  bottom: 7px;
  background-color: #333;
}

#main #production .process-group .process-box .process-box--title::after {
  content: "\f303";
  position: absolute;
  font-family: FontAwesome;
  bottom: 4.5px;
  left: 50%;
  opacity: 0;
}

#main #production .process-group .hearing-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main #production .process-group .hearing-img .process-img--parts {
  margin-left: 10px;
}

#main #production .process-group .hearing-img .process-img--parts .process-img:first-of-type {
  margin: 10px 0;
}

#main #production .process-group .process-box.appear {
  -webkit-animation: fadeIn 2s forwards;
          animation: fadeIn 2s forwards;
}

#main #production .process-group .process-box.appear .process-box--title::before {
  -webkit-animation: underBorder 1s 1.1s ease-in forwards;
          animation: underBorder 1s 1.1s ease-in forwards;
}

#main #production .process-group .process-box.appear .process-box--title::after {
  -webkit-animation: pencil 1s 1.09s ease-in;
          animation: pencil 1s 1.09s ease-in;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes underBorder {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes underBorder {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes pencil {
  0% {
    left: 0%;
    opacity: 0;
  }
  1% {
    left: 0%;
    opacity: 1;
  }
  100% {
    opacity: 1;
    left: 100%;
  }
}

@keyframes pencil {
  0% {
    left: 0%;
    opacity: 0;
  }
  1% {
    left: 0%;
    opacity: 1;
  }
  100% {
    opacity: 1;
    left: 100%;
  }
}

#main #production .process-group .process-box--text {
  margin-left: auto;
  padding-top: 20px;
  font-size: 15px;
}

#main #production .process-group .process-box--text ul {
  margin-left: 20px;
}

#main #production .process-group .process-box--text li {
  margin: 7px 0px;
  list-style: disc;
}

#main #production .process-group .process-box--parts .process-box--list {
  margin-left: 25px;
  list-style: circle;
}

#main #production .process-group .process-img--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main #production .process-group .process-img--items .process-img--parts .process-img {
  margin: 0 20px;
}

#main #production .process-group .process-img--items .process-img--parts .data-img {
  width: 120px;
}

#main #production .process-group .process-img--items .flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main #production .process-group .process-guide--box.flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main #production .process-group .process-guide--box {
  margin: 10px auto;
  max-width: 650px;
  height: auto;
  opacity: 0;
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
}

#main #production .process-group .process-guide--box .process-guide--img {
  margin: 0 10px;
}

#main #production .process-group .process-guide--box .process-guide--img .guide-img {
  max-width: 150px;
}

#main #production .process-group .process-guide--box .process-guide--text {
  line-height: 35px;
  margin: 0 10px;
}

#main #production .process-group .process-guide--box.appear {
  -webkit-animation: fadeIn 2s forwards;
          animation: fadeIn 2s forwards;
}

@media screen and (max-width: 750px) {
  #main #production .process-group .process-box {
    padding: 10px;
  }
  #main #production .process-group .process-img--items {
    margin-top: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#main #contact {
  margin: 50px 50px 100px;
}

#main #contact p {
  margin-bottom: 40px;
}

/* #main */
#profile {
  margin: 50px 0 100px;
}

#profile .main-title--box {
  margin: 0 50px;
}

#profile .about-text {
  font-size: 16px;
  line-height: 35px;
  margin: 0 10px 10px;
  letter-spacing: 5px;
}

#profile .main-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#profile .main-profile .main-profile--box {
  padding: 50px 10px;
  text-align: center;
  width: 30%;
  min-width: 30%;
  background-color: bisque;
}

#profile .main-profile .main-profile--img {
  border-radius: 50%;
  margin-bottom: 20px;
}

#profile .main-profile .main-profile--name {
  font-size: 30px;
  color: burlywood;
  margin-bottom: 10px;
}

#profile .main-profile .main-profile--list {
  margin-bottom: 5px;
  color: #713500;
}

#profile .main-profile .cv {
  color: #532600;
  padding: 50px 10px;
  width: 70%;
  background-color: #fcebd3;
}

#profile .main-profile .cv .cv-title {
  display: inline-block;
  font-size: 20px;
  padding: 0 20px;
  margin-bottom: 30px;
  color: burlywood;
  border-bottom: 5px dotted burlywood;
}

#profile .main-profile .cv .cv-table {
  margin: 0 45px;
  font-size: 16px;
  border-collapse: collapse;
}

#profile .main-profile .cv .cv-table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2px;
}

#profile .main-profile .cv .cv-table tr:first-of-type .cv-text {
  border-top: 2px dotted burlywood;
}

#profile .main-profile .cv .cv-table .cv-year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: burlywood;
  padding: 13px 0;
  width: 25%;
}

#profile .main-profile .cv .cv-table .cv-text {
  display: inline-block;
  border-bottom: 2px dotted burlywood;
  width: 75%;
  padding: 3px 10px 3px;
  display: block;
  text-align: left;
}

@media screen and (max-width: 750px) {
  #profile .main-title--box {
    margin: 0 25px;
  }
  #profile .main-profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #profile .main-profile .main-profile--box {
    padding: 50px 50px 0;
    width: 100%;
    min-width: 100%;
  }
  #profile .main-profile .main-profile--name {
    font-size: 30px;
    color: burlywood;
    margin-bottom: 10px;
  }
  #profile .main-profile .main-profile--list {
    margin-bottom: 5px;
    color: #713500;
  }
  #profile .main-profile .cv {
    color: #3b1b00;
    padding: 50px 10px;
    width: 100%;
    background-color: bisque;
  }
  #profile .main-profile .cv .cv-table {
    font-size: 16px;
    border-collapse: collapse;
  }
  #profile .main-profile .cv .cv-table tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #profile .main-profile .cv .cv-table .cv-year {
    padding: 15px 0;
    background-color: burlywood;
    width: 25%;
    margin-bottom: 1px;
  }
  #profile .main-profile .cv .cv-table .cv-text {
    margin-bottom: 1px;
    width: 75%;
    display: block;
    text-align: left;
    padding: 5px 15px;
  }
}

#skill {
  letter-spacing: 1px;
}

#skill .skill-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(270px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 20px;
}

#skill .skill-box img {
  width: 200px;
  margin: 20px 0;
}

#skill .skill-box .skill-card {
  background-color: #fff;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #2e3033;
  width: 270px;
  height: 380 px;
  padding: 5px;
}

#skill .skill-box .skill-card .skill-body .skill-title {
  display: inline-block;
  border-bottom: 1px solid #2e3033;
  margin-bottom: 25px;
}

#skill .skill-box .skill-card .skill-body .skill-parts {
  padding-left: 20px;
}

#skill .skill-box .skill-card .skill-body .skill-parts .skill-list {
  list-style: circle;
  text-align: left;
  font-size: 16px;
  margin-bottom: 6px;
}

#skill .skill-box .skill-card .skill-body .css-design-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#skill .skill-box .skill-card .card-img-top.tailwind {
  width: 150px;
  margin-bottom: 50px;
}

#skill .skill-box .skill-card .card-img-top.bootstrap {
  width: 100px;
  margin-bottom: 50px;
}

.productspage {
  overflow: hidden;
  font-size: 16px;
  letter-spacing: 1.5px;
  line-height: 30px;
  margin: 0;
}

.productspage .container {
  padding-bottom: 60px;
}

.productspage-main--box {
  width: 100vw;
  height: 100vh;
  position: relative;
  padding-bottom: 150px;
  overflow-x: hidden;
  z-index: 10;
}

.productspage-main--box .productspage-main--item {
  position: absolute;
  top: 40%;
  left: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 3;
}

.productspage-main--title {
  font-size: 50px;
  letter-spacing: 2px;
  line-height: 50px;
  text-shadow: 2px 2px 0px rgba(255, 0, 0, 0.4), 4px 4px 0px #ff5252;
}

.productspage-sub--title {
  line-height: 50px;
  font-size: 28px;
  text-shadow: 2px 2px 0 #fc0202;
  color: #fca7a7;
  margin-bottom: 20px;
}

.productspage-sub--text {
  text-shadow: 1px 1px 0 #868686;
  font-size: 18px;
  margin-bottom: 10px;
}

.productspage-btn--box .productspage-btn {
  color: #fff;
  background-color: #d43737;
  border-radius: 30px;
  padding: 10px 20px;
  line-height: 70px;
}

.productspage-btn--box .productspage-btn:hover {
  color: #d43737;
  background-color: #fff;
  border: 2px solid #d43737;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.productspage-table {
  text-align: left;
  position: absolute;
  left: 7%;
  bottom: 25%;
  z-index: 3;
}

.productspage-table th {
  width: 110px;
  text-shadow: 2px 2px 0 #fc0202;
  color: #fca7a7;
}

.productspage-imgs {
  overflow: hidden;
}

.productspage-imgs .productspage-pc {
  z-index: 0;
  position: absolute;
  top: -5%;
  right: -15%;
  width: 1000px;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.productspage-imgs .productspage-sp {
  width: 200px;
  position: absolute;
  z-index: 2;
  bottom: -5%;
  right: 5%;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.productspage-point {
  max-width: 800px;
  margin: 0 auto;
}

.productspage-point--items {
  margin-bottom: 30px;
}

.productspage-point--titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  text-shadow: 2px 2px 0px rgba(255, 0, 0, 0.4), 4px 4px 0px #ff5252;
  padding: 0 30px;
  margin: 40px 0;
}

.productspage-point--titles .productspage-point--title {
  font-size: 20px;
  font-weight: bold;
  padding: 0 20px;
}

.productspage-point--titles .fas {
  font-size: 25px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 0 5px;
}

.productspage-point--parts .productspage-point--list {
  position: relative;
  width: 400px;
  height: 240px;
  overflow: hidden;
  margin-bottom: 30px;
}

.productspage-point--parts .productspage-point--list .videos {
  width: 400px;
  position: absolute;
  top: 0;
  left: 0;
}

.productspage-point--parts .productspage-point--texts {
  max-width: 50%;
  margin-left: 10px;
}

.productspage-point--parts .productspage-point--texts .productspage-point--texttitle {
  border-bottom: 3px dotted #d43737;
  margin: 10px 0;
  padding-bottom: 5px;
  font-size: 18px;
}

.productspage-end {
  max-width: 600px;
  margin: 0 auto;
}

.productspage-end ul li {
  list-style: circle;
  margin-bottom: 15px;
}

@media screen and (max-width: 750px) {
  .productspage-point {
    margin-bottom: 90px;
  }
  .productspage-point .productspage-point--parts {
    margin: 0 30px 50px;
  }
  .productspage-point .productspage-point--parts .productspage-point--list {
    width: 100%;
    height: 350px;
    overflow: hidden;
    margin-bottom: 0;
  }
  .productspage-point .productspage-point--parts .productspage-point--list .videos {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .productspage-point .productspage-point--parts .productspage-point--texts {
    max-width: 100%;
    margin-left: 10px;
  }
  .productspage-end {
    margin: 0 30px 0 40px;
  }
}

#fitness {
  color: #fff;
  background-color: rgba(255, 0, 0, 0.493);
}

#cafe {
  color: #310505;
  background-color: antiquewhite;
  font-family: "Permanent Marker", "Kiwi Maru", serif;
}

#cafe .productspage-btn--box .productspage-btn {
  color: #fff;
  background-color: #866d4d;
}

#cafe .productspage-btn--box .productspage-btn:hover {
  color: #866d4d;
  background-color: #fff;
  border: 2px solid #866d4d;
}

#cafe .productspage-main--title {
  text-shadow: 2px 2px 0px #cfaf84, 4px 4px 0px #3f2d15;
}

#cafe .productspage-sub--title {
  text-shadow: 2px 2px 0 #e9b572;
  color: #a79681;
}

#cafe .productspage-sub--text {
  text-shadow: none;
}

#cafe .productspage-table th {
  text-shadow: 2px 2px 0 #e9b572;
  color: #866d4d;
}

#cafe .productspage-table tr {
  text-shadow: 1px 1px 0 #e9b572;
}

#cafe .productspage-point--titles {
  color: #e9b572;
  text-shadow: none;
}

#cafe .productspage-point--texts .productspage-point--texttitle {
  border-bottom: 3px dotted #e9b572;
}

#cafe .cafe-container {
  background-color: #310505;
  color: antiquewhite;
  padding: 30px 0;
}

#board {
  color: #707070;
  font-family: Atlanta, sans-serif;
  background-color: #fcf5ec;
}

#board .productspage-btn--box .productspage-btn {
  color: #fff;
  background-color: #eea700;
}

#board .productspage-btn--box .productspage-btn:hover {
  color: #eea700;
  background-color: #fff;
  border: 2px solid #eea700;
}

#board .productspage-main--title {
  color: #eea700;
  text-shadow: 2px 2px 0px #eea700, 4px 4px 0px #fceec1;
}

#board .productspage-sub--title {
  text-shadow: 1px 1px 0 #fff;
  color: #eea700;
}

#board .productspage-sub--text {
  text-shadow: 1px 1px 0 #fff;
}

#board .productspage-table th {
  text-shadow: none;
  color: #eea700;
}

#board .productspage-table tr {
  text-shadow: none;
}

#board .productspage-point--titles {
  color: #e9b572;
  text-shadow: none;
}

#board .productspage-point--texts .productspage-point--texttitle {
  border-bottom: 3px dotted #e9b572;
}

#board .cafe-container {
  background-color: #310505;
  color: antiquewhite;
  padding: 30px 0;
}

#hotel {
  color: antiquewhite;
  background-color: #003323;
}

#hotel .productspage-btn--box .productspage-btn {
  background-color: antiquewhite;
  color: #003323;
}

#hotel .productspage-btn--box .productspage-btn:hover {
  color: antiquewhite;
  background-color: #003323;
  border: 2px solid antiquewhite;
}

#hotel .productspage-main--title {
  color: antiquewhite;
  text-shadow: 2px 2px 0px #003323, 4px 4px 0px burlywood;
}

#hotel .productspage-sub--title {
  text-shadow: 1px 1px 0 antiquewhite;
  color: burlywood;
}

#hotel .productspage-sub--text {
  text-shadow: 1px 1px 0 #003323;
}

#hotel .productspage-table th {
  text-shadow: none;
  color: burlywood;
}

#hotel .productspage-table tr {
  text-shadow: none;
}

#hotel .productspage-point--titles {
  color: burlywood;
  text-shadow: 1px 1px 0 antiquewhite;
}

#hotel .productspage-point--texts .productspage-point--texttitle {
  border-bottom: 3px dotted burlywood;
}

#board {
  color: #707070;
  font-family: Atlanta, sans-serif;
  background-color: #fcf5ec;
}

#board .productspage-btn--box .productspage-btn {
  color: #fff;
  background-color: #eea700;
}

#board .productspage-btn--box .productspage-btn:hover {
  color: #eea700;
  background-color: #fff;
  border: 2px solid #eea700;
}

#board .productspage-main--title {
  color: #eea700;
  text-shadow: 2px 2px 0px #eea700, 4px 4px 0px #fceec1;
}

#board .productspage-sub--title {
  text-shadow: 1px 1px 0 #fff;
  color: #eea700;
}

#board .productspage-sub--text {
  text-shadow: 1px 1px 0 #fff;
}

#board .productspage-table th {
  text-shadow: none;
  color: #eea700;
}

#board .productspage-table tr {
  text-shadow: none;
}

#board .productspage-point--titles {
  color: #e9b572;
  text-shadow: none;
}

#board .productspage-point--texts .productspage-point--texttitle {
  border-bottom: 3px dotted #e9b572;
}

#board .cafe-container {
  background-color: #310505;
  color: antiquewhite;
  padding: 30px 0;
}

#blog {
  color: #187474;
  background-color: #d0ecfc;
}

#blog .productspage-btn--box .productspage-btn {
  background-color: #219797;
  color: #fff;
}

#blog .productspage-btn--box .productspage-btn:hover {
  border: 2px solid #219797;
  background-color: #fff;
  color: #219797;
}

#blog .productspage-main--title {
  color: #219797;
  text-shadow: 2px 2px 0px #d0ecfc, 4px 4px 0 #219797;
}

#blog .productspage-sub--title {
  text-shadow: 1px 1px 0 #023636;
  color: #219797;
}

#blog .productspage-sub--text {
  text-shadow: 1px 1px 0 #fff;
}

#blog .productspage-table th {
  text-shadow: none;
  color: #219797;
}

#blog .productspage-table tr {
  text-shadow: none;
}

#blog .productspage-point--titles {
  text-shadow: 1px 1px 0 #023636;
  color: #219797;
}

#blog .productspage-point--texts .productspage-point--texttitle {
  border-bottom: 3px dotted #023636;
}

#blog .productspage-point--parts:nth-child(3) {
  justify-items: center;
}

#blog .productspage-point--parts:nth-child(3) .productspage-point--list {
  height: 400px;
}

#blog .productspage-point--parts:nth-child(3) .productspage-point--list .videos {
  width: 250px;
  height: auto;
}

@media screen and (max-width: 750px) {
  #blog .productspage-point .productspage-point--parts:nth-child(3) .productspage-point--list {
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-bottom: 0;
  }
  #blog .productspage-point .productspage-point--parts:nth-child(3) .productspage-point--list .videos {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.wrapper {
  margin: 20px 30px;
}

.page-title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px;
}

.mw_wp_form {
  max-width: 900px;
  margin: 0 auto;
}

.mw_wp_form .contact-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: start;
  margin-top: 10px;
  margin-left: 20px;
}

.mw_wp_form .contact-box dt {
  width: 20%;
  text-align: left;
}

.mw_wp_form .contact-box dd {
  width: 80%;
}

.mw_wp_form .contact-box .contact-input--area,
.mw_wp_form .contact-box .contact-message--area {
  font-size: 15px;
  width: 80%;
  height: 30px;
  padding: 20px 10px;
  border-radius: 10px;
  margin-left: 10px;
  border: solid 2px #b1b1b1;
}

.mw_wp_form .contact-box .contact-message--area {
  height: 180px;
  padding: 10px;
}

.mw_wp_form .contact-text {
  margin-left: 10px;
  color: #b1b1b1;
}

.mw_wp_form .contact-btn--box {
  margin-top: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mw_wp_form .contact-btn--parts {
  position: relative;
  color: white;
  outline: none;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  padding: 10px 20px 30px;
  margin: 0 10px;
  background-color: burlywood;
}

.mw_wp_form .contact-btn--parts:focus {
  opacity: 0.8;
}

.mw_wp_form .contact-btn--parts::after {
  position: absolute;
  left: 50%;
  bottom: 18%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "\f658";
  font-family: FontAwesome;
}

.mw_wp_form .contact-btn--parts:hover::after {
  opacity: 0.8;
  content: "\f0e0";
  font-family: FontAwesome;
}

.mw_wp_form .contact-btn--parts:active::after {
  opacity: 0.8;
  content: "\f0e0";
  font-family: FontAwesome;
}

.mw_wp_form .contact-btn--parts .contact-btn {
  color: white;
  outline: none;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background-color: burlywood;
}

.mw_wp_form .back-btn {
  font-size: 18px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin: 0 10px;
  color: white;
  padding: 10px 20px;
  background-color: #757575;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .mw_wp_form .contact-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .mw_wp_form .contact-box dt {
    width: 100%;
  }
  .mw_wp_form .contact-box dd {
    margin: 0 auto;
    width: 120%;
  }
  .mw_wp_form .contact-input--area,
  .mw_wp_form .contact-message--area {
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .mw_wp_form .contact-area {
    font-size: 13px;
  }
  .mw_wp_form .contact-text {
    font-size: 13px;
  }
}
/*# sourceMappingURL=style.css.map */